.carousel-inner > .item.content-map.active {
	background: url(../image/map.png) center center no-repeat;
	background-size: cover;
}

.content-container > .row > .container > .col-md-3 > .navbar > .navbar-collapse > ul > li {
	margin-bottom: 4px;
	border-left: 10px solid;
}

.content-container > .row > .container > .col-md-3 > .navbar > .navbar-collapse > ul > li.active {
	border-left: none;
}

.content-container > .row > .container > .col-md-3 > .navbar-default .navbar-nav>.active>a {
	color: #fff!important;
	background-color: #e85022!important;
}


.content-container > .row > .container > .col-md-9 > .row > h1,
.content-container > .row > .container > .col-md-9 > .row > h2,
.content-container > .row > .container > .col-md-9 > .row > h3,
.content-container > .row > .container > .col-md-9 > .row > h4 {
	color: #003859;
}

.content-container > .row > .container > .col-md-9 > .row > p,
.content-container > .row > .container > .col-md-9 > .row > ul > li, 
.content-container > .row > .container > .col-md-9 > .row >ol > li { 
	color: #787878;
}

.content-container > .row > .container > .col-md-9 > .row > ul > li, 
.content-container > .row > .container > .col-md-9 > .row >ol > li { 
	padding: 0.4em 0 ;
}

.content-container > .row > .container > .col-md-9 > .row > .table-container > table.table-bordered > thead > tr > th,
.content-container > .row > .container > .col-md-9 > .row > .table-container > table.table-bordered > thead > tr > td , 
.content-container > .row > .container > .col-md-9 > .row > .table-container > table.table-bordered > tbody > tr > th , 
.content-container > .row > .container > .col-md-9 > .row > .table-container > table.table-bordered > tbody > tr > td { 
	border : none;
}

.content-container > .row > .container > .col-md-9 > .row > .table-container > table.table-striped>tbody>tr:nth-of-type(even) { 
	background-color: #d7d7d7;
}

.content-container > .row > .container > .col-md-9 > .row > .table-container > table > thead > tr { 
	color : #fff;
	background-color: #003859;
}

.content-container > .row > .container > .col-md-9 > .row > .table-container > table > thead > tr > th { 
	font-weight: normal;
}

.breadcrumb {
	padding: 0;
}

.content-container {
	padding: 4em 0 6em 0;
}

.content-container > .row > .container > .col-md-9 > .row > p.head-one-desc {
	font-size: 1.2em;
}

.content-container > .row > .container > .col-md-9 > .row > .col-md-4.img-align {
	padding-right: 0;
	padding-left: 0;
}

.content-container > .row > .container > .col-md-9 > .row.img-alignment > .col-md-8 {
	padding-left: 0;
}

.content-container > .row > .container > .col-md-9 > .row.form-style-container > .row > .col-md-12 > button.btn-hero:hover {
	color: #fff!important;
} 

.btn-normal {
	padding: 10px 25px;
	background-color: #cccc33;
	border : 2px solid #cccc33;
	color: #fff;
	font-size: 0.8em;
	text-decoration: none;
}

.btn-normal:hover {
	background-color: #cccc33;
	color: #fff;
	text-decoration: none;
}

