footer.footer-listing {
	font-size: 0.9em; 
	background-color: #012b43; 
	padding: 3em 0 5em 0;
	color: #fff;
}

footer.footer-listing > .container > .col-md-8 {
	padding-top: 3em;
}

footer.footer-listing > .container > .col-md-4 > h3 {
	color: #cccc33;
}

footer.footer-listing > .container > .col-md-8 > .footer-listing-form >  .form-group input {
	width: 300px;
}

footer.footer-listing > .container > .col-md-8 > .footer-listing-form >  button {
	font-size: 0.8em;
	padding: 9px 20px;
	background-color: #cccc33;
	border-color: #cccc33;
}

footer.footer-directories {
	font-size: 0.8em; 
	background-color: #003859 ; 
	color: white; 
	padding: 4em 0;
}

footer.footer-directories > .row > .container > .col-sm-4 {
	min-height: 300px
}

footer.footer-directories > .row > .container > .col-md-2 > p {
	text-transform: uppercase;
}

footer.footer-directories > .row > .container > .col-md-2 > a {
	color: #5b9bc0;
}

footer.footer-nav {
	font-size: 0.6em; 
	background-color: white;
}

footer.footer-nav > .container {
	padding: 1em 0;
}

footer.footer-nav > .container > .col-md-4 {
	padding-top: 2em;
}

footer.footer-nav > .container > .col-md-4 > div > ul.footer-menu > li{
	display: inline;
	padding: 0 2em;
}

footer.footer-nav > .container > .col-md-4 > div > ul.footer-menu > li a{
	color: #000;
	text-decoration: none;
}
footer.footer-nav > .container > .col-md-4 > div > ul.footer-menu > li a:hover{
	cursor: pointer;
}

