.navbar-fixed-top {
	min-height: 30px!important; 
	font-size: 0.6em;
	background-color: #003859;
}

.navbar-inverse .navbar-nav>.active>a {
	background-color: #012b43;
}

.asolid { font-size: 125%;}
.aplus { font-size: 150%;}

form.input-search-directory > .form-group input {
	width: 300px;
}

form.input-search-directory > button {
	font-size: 0.7em;
	padding: 9px 20px;
	background-color: #cccc33;
	border-color: #cccc33;
}

.navbar-form {
	margin-right: -30px;
}

.navbar-top.navbar-nav>li>a {
  padding-top: 0; 
  padding-bottom: 0; 
  line-height: 30px; 
}

.brand-area {
	height:100px; 
	padding: 25px 0; 
	background-color: white;
}