h2 {
	margin-top: 5px;
}

.btn-hero {
	padding: 10px 25px;
	background-color: transparent;
	border : 2px solid #cccc33;
	color: #fff;
	font-size: 0.8em;
	text-decoration: none;
}

.btn-hero:hover {
	background-color: #cccc33;
	color: #fff;
	text-decoration: none;
}

.carousel {
  height: 400px;
}
.carousel-caption {
  z-index: 10;
  bottom: 70px;
}

.carousel-caption > .secondary-caption {
	color: #cccc33;
}

.carousel .item {
  height: 400px;
  background: 
  -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url(../image/carousel.png) center no-repeat; background-size: cover;
  background: 
  -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url(../image/carousel.png) center no-repeat; background-size: cover;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url(../image/carousel.png) center no-repeat; background-size: cover;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 350px;
}


.carousel-control > .fa-arrow-right,
.carousel-control > .fa-arrow-left{
	top: 50%;
    position: absolute;
	font-size: 30px;
}

.carousel-controller {
	height:40px; 
	padding-top: 12px;
	color: #97a7a7;
	font-size: 0.7em;
	background-color: white;
}

.carousel-controller > .row > .container > .col-md-3.active {
	color: #000;
}

.carousel-controller:hover {
	cursor: pointer;
}

.carousel-controller > .row > .container > .col-md-3.active {
	// border-top: 3px solid black;
}


.tiles-container {
	padding: 4em 0 6em 0;
}

.tiles-container > .container > .tiles-intro {
	padding: 0 15em;
	margin-bottom: 5em;
}

.tiles-container > .container > .tiles-intro > .tiles-intro-desc{
	color: #787878;
}

.tiles-container > .container > .tiles-area > .col-md-4{
	height: 200px; 
	color: #fff;
	padding: 3.5em 1.5em;
}

.tiles-container > .container > .tiles-area > .col-md-4:not(:first-child){
	height: 200px; 
	color: #fff;
	padding: 5em 1.5em;
}

.tiles-container > .container > .tiles-area > .col-md-4 > p{
	font-size: 0.6em;
}

.tiles-container > .container > .tiles-area > .col-md-4 > button{
	padding: 0.8em 2em;
	font-size: 0.8em;
	background-color: #ed470f;
	border-color: #ed470f;
}

.tiles-container > .container > .tiles-area > .col-md-4:hover {
	cursor: pointer;
}

.tiles-container > .container > .tiles-area > .col-md-4.tile-one{
	background: linear-gradient(rgba(212, 63, 48, 0.8), rgba(212, 63, 48, 0.8)),url('../image/tile-one.png') center center no-repeat; 
	background-size: cover;
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-two{
	background: linear-gradient(rgba(51, 204, 153, 0.8), rgba(51, 204, 153, 0.8)),url('../image/tile-two.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-three{
	background: linear-gradient(rgba(112, 121, 171, 0.8), rgba(112, 121, 171, 0.8)),url('../image/tile-three.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-four{
	background: linear-gradient(rgba(202, 141, 213, 0.8), rgba(202, 141, 213, 0.8)),url('../image/tile-four.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-five{
	background: linear-gradient(rgba(118, 158, 212, 0.8), rgba(118, 158, 212, 0.8)),url('../image/tile-five.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-six{
	background: linear-gradient(rgba(56, 183, 176, 0.8), rgba(56, 183, 176, 0.8)),url('../image/tile-six.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-seven{
	background: linear-gradient(rgba(220, 189, 43, 0.8), rgba(220, 189, 43, 0.8)),url('../image/tile-seven.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-eight{
	background: linear-gradient(rgba(87, 95, 108, 0.8), rgba(87, 95, 108, 0.8)),url('../image/tile-eight.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-nine{
	background: linear-gradient(rgba(40, 126, 212, 0.8), rgba(40, 126, 212, 0.8)),url('../image/tile-nine.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-ten{
	background: linear-gradient(rgba(169, 153, 136, 0.8), rgba(169, 153, 136, 0.8)),url('../image/tile-ten.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-eleven{
	background: linear-gradient(rgba(52, 175, 164, 0.8), rgba(52, 175, 164, 0.8)),url('../image/tile-eleven.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-twelve{
	background: linear-gradient(rgba(212, 125, 48, 0.8), rgba(212, 125, 48, 0.8)),url('../image/tile-twelve.png') center center no-repeat;
	background-size: cover; 
}

.tiles-container > .container > .tiles-area > .col-md-4.tile-one:hover{
	background: linear-gradient(rgba(212, 63, 48, 0.5), rgba(212, 63, 48, 0.5)),url('../image/tile-one.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-two:hover{
	background: linear-gradient(rgba(51, 204, 153, 0.5), rgba(51, 204, 153, 0.5)),url('../image/tile-two.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-three:hover{
	background: linear-gradient(rgba(112, 121, 171, 0.5), rgba(112, 121, 171, 0.5)),url('../image/tile-three.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-four:hover{
	background: linear-gradient(rgba(202, 141, 213, 0.5), rgba(202, 141, 213, 0.5)),url('../image/tile-four.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-five:hover{
	background: linear-gradient(rgba(118, 158, 212, 0.5), rgba(118, 158, 212, 0.5)),url('../image/tile-five.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-six:hover{
	background: linear-gradient(rgba(56, 183, 176, 0.5), rgba(56, 183, 176, 0.5)),url('../image/tile-six.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-seven:hover{
	background: linear-gradient(rgba(220, 189, 43, 0.5), rgba(220, 189, 43, 0.5)),url('../image/tile-seven.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-eight:hover{
	background: linear-gradient(rgba(87, 95, 108, 0.5), rgba(87, 95, 108, 0.5)),url('../image/tile-eight.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-nine:hover{
	background: linear-gradient(rgba(40, 126, 212, 0.5), rgba(40, 126, 212, 0.5)),url('../image/tile-nine.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-ten:hover{
	background: linear-gradient(rgba(169, 153, 136, 0.5), rgba(169, 153, 136, 0.5)),url('../image/tile-ten.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-eleven:hover{
	background: linear-gradient(rgba(52, 175, 164, 0.5), rgba(52, 175, 164, 0.5)),url('../image/tile-eleven.png') center center no-repeat;
	background-size: cover; 
}
.tiles-container > .container > .tiles-area > .col-md-4.tile-twelve:hover{
	background: linear-gradient(rgba(212, 125, 48, 0.5), rgba(212, 125, 48, 0.5)),url('../image/tile-twelve.png') center center no-repeat;
	background-size: cover; 
}



@media (min-width: 768px) {
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}

@media (min-width : 320px) {
	.tiles-container > .container > .tiles-intro {
		padding: 0 5em;
		margin-bottom: 2em;
	}
}
