html {
	overflow-x: hidden;
}

body {
  padding-top: 30px;
  background-color: #fff;
  font-family: 'Arial';
  overflow-x: hidden;

}

.form-control, .btn {
	border-radius: 4px;
}


.font-bold { font-weight: bold; }
.font-italic { font-style: italic; }

.color-green { color: #cccc33!important; }
.color-orange { color: #e85022!important; }

.margin-right { margin-right: 2em;}
